:root {
    /* Colors */
    /* --black: rgb(2, 2, 2); */
    --black: rgb(0, 0, 0);
    --light-gray: rgb(238, 238, 238);
    --orange: rgb(254, 122, 54);
    --dark-orange: rgb(124, 33, 24);

    /* Unused palette */
    /* --green: rgb(0, 173, 181); */
    /* --blue: rgb(54, 84, 134); */
    /* --new-gray: rgb(89, 89, 89); */
    /* --dark-gray: rgb(57, 62, 70); */
    /* --body: rgb(17, 20, 24); */


    /* Font Weight */
    --fw-light: 300;
    --fw-normal: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;
    --fw-dark: 900;

    /* Font Size */
    --fs-xsmall: .75rem;
    --fs-small: .90rem;
    --fs-normal: 1rem;
    --fs-large: 1.25rem;
    --fs-xlarge: 1.5rem;
    --fs-xxlarge: 1.75rem;
    --fs-xxxlarge: 2rem;
    --fs-xxxxlarge: 3rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: var(--fs-large);
    background-color: var(--black);
    color: var(--light-gray);
    font-weight: var(--fw-normal);
}

a {
    color: var(--light-gray);
}

.flex {
    display: flex;
}

.hidden {
    display: none;
}

button:is(:hover, :focus) {
    cursor: pointer;
}

/* Social Media & Skill Icons Hover State */
.hover-effect {
    transition: transform 0.3s ease;
}

.hover-effect:hover {
    transform: scale(1.15);
}

.menu-icon-wrapper:hover, .menu-icon-wrapper:focus {
    cursor: pointer;
}

/* Header and Navbar */

header {
    padding: 2% 5%;
    align-items: center;
    justify-content: space-between;
    font-size: var(--fs-xlarge);
    font-weight: var(--fw-semi-bold);
    border-bottom: 1px solid var(--orange);
    background-color: rgb(2, 2, 2);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--black) url("images/Patterns/17.jpg") no-repeat center;
    background-size: 100%;
}

.menu-icon-wrapper {
    margin-right: 20px;
}

.navbar {
    align-items: center;
}

.navbar li {
    margin-left: clamp(40px, 8rem, 150px);
}

.navbar li a {
    padding: 5px 0;
    position: relative;
    overflow: hidden;
}

.navbar li a::before {
    content: '';
    position: absolute;
    width: 0;
    /* Başlangıçta görünmez */
    height: 2px;
    /* Alt çizginin kalınlığı */
    bottom: 0;
    /* Linkin altına yerleştir */
    left: 50%;
    /* Başlangıç pozisyonunu merkeze al */
    background-color: var(--orange);
    /* Alt çizgi rengi */
    transition: all .5s ease;
    /* Animasyon süresi ve tipi */
}

.navbar li a:hover::before {
    width: 100%;
    /* Tam genişliğe genişlet */
    left: 0;
    /* Sol tarafa taşıyarak genişlemeyi sağlar */
}

/* Main Section */

/* Headings  */

.headings {
    padding-inline: 5%;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background: var(--black) url("images/Patterns/19.jpg") no-repeat center;
    background-size: 100%;
    gap: clamp(20px, 150px, 350px);
}

.headings-wrapper {
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    min-width: 50%;
}

h1 {
    font-size: var(--fs-xxxxlarge);
    letter-spacing: 3px;
}

h1 span {
    text-decoration: underline;
    text-decoration-color: var(--orange);
    text-decoration-thickness: 3px;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}

h2 {
    font-size: var(--fs-xxxlarge);
    font-weight: var(--fw-normal);
}

.headings p {
    font-size: var(--fs-large);
}

.headings button {
    width: clamp(250px, 40%, 350px);
    padding: 20px 15px;
    color: var(--black);
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
    background-color: var(--light-gray);
    border: none;
    border-radius: 10px;
    margin-top: 50px;
}

.headings button:is(:hover, :focus) {
    border-radius: 8px;
    box-shadow: 0 0 10px 5px var(--orange);
}

.headings img {
    width: clamp(300px, 35%, 500px);
    border-radius: 25px;
    aspect-ratio: 1/1;
}

/* Bio Section */

.bio {
    background-color: var(--light-gray);
    color: var(--black);
    gap: 5rem;
    text-align: center;
    padding: 8% 5%;
    margin-bottom: 150px;
}

.bio div {
    width: 50%;
}

h4 {
    font-size: var(--fs-xxxlarge);
}

.about-me {
    padding: 0 5%;
}

.info {
    line-height: 2.5;
    margin-top: 20px;
}

.skills-wrapper {
    flex-direction: column;
    align-items: center;
}

.skill-icons-wrapper {
    justify-content: center;
    font-size: var(--fs-xxxxlarge);
    margin-top: 2rem;
    gap: 3rem;
    color: var(--orange);
    flex-wrap: wrap;
}

/* Portfolio Section */

.portfolio {
    padding-inline: 5%;
    flex-wrap: wrap;
    gap: 5rem;
    justify-content: center;
}

/* Footer */

footer {
    margin-top: 100px;
    background-color: var(--dark-orange);
    padding: 5%;
}

/* Contact Section  */

.contact {
    justify-content: space-between;
}

footer h4 {
    font-size: var(--fs-xxxxlarge);
}

.contact-info-text {
    width: 40%;
    flex-shrink: 0;
}

.form-container {
    width: 35%;
}

.contact-info-text p {
    padding-right: 15%;
    margin-top: 20px;
    line-height: 2.5;
}

/* Form Section */

form {
    flex-direction: column;
    gap: 1rem;
}

footer input,
textarea {
    border: none;
    border-bottom: 1px solid var(--light-gray);
    background-color: var(--dark-orange);
    padding: 2% 5% 3%;
    color: var(--light-gray);
    font-size: var(--fs-normal);
}

footer input:focus,
textarea:focus {
    outline: none;
    border-bottom: 3px solid var(--light-gray);
}

footer input::placeholder,
textarea::placeholder {
    color: var(--light-gray);
    opacity: 65%;
}

.email-warning-wrapper {
    max-height: 0;
    overflow: hidden;
    transition: .75s ease;
}

.email-warning-text {
    font-size: var(--fs-xsmall);
    margin: 5px 0 0 20px;
}

.email-warning-icon {
    margin-right: 5px;
}

textarea {
    font-family: "Roboto", sans-serif;
}

.form-container button {
    border: none;
    background-color: var(--dark-orange);
    border-bottom: 2px solid var(--light-gray);
    font-size: var(--fs-large);
    width: clamp(200px, 40%, 350px);
    align-self: flex-end;
    padding: 20px 0;
    color: var(--light-gray);
    font-size: var(--fs-large);
}

.form-container button:hover {
    font-weight: var(--fw-bold);
    border-bottom: 3px solid var(--light-gray);
}


/* Social Media Section  */

.social-media-wrapper {
    justify-content: space-between;
    padding: 2% 5%;
    background: var(--black) url("images/Patterns/7.jpg") no-repeat right;
    background-size: 2000px;
}

.social-media-icon-container {
    gap: 3rem;
    font-size: var(--fs-xxxlarge);
}


/* Tablet Design  */

@media only screen and (max-width: 1200px) {

    html {
        font-size: 15px;
    }

    /* Header and Navbar */

    .navbar li {
        margin-left: unset
    }

    .navbar {
        gap: 30px;
    }

    .brand-logo-icon {
        display: none;
    }

    .brand-logo-wrapper {
        margin-right: min(25px);
    }

    .headings {
        height: unset;
        flex-direction: column-reverse;
        padding-inline: unset;
        padding: 10% 5% 8%;
        text-align: center;
        gap: 5rem;
    }

}

/* Mobile Design */

@media only screen and (max-width: 650px) {

    html {
        font-size: 14px;
    }

    /* Header and Navbar */

    .brand-logo-wrapper {
        display: none;
    }

    .navbar {
        font-size: 1.25rem;
        padding: 2.5% 0;
        display: none;
        width: auto;
    }

    .inline-flex {
        display: inline-flex;
    }

    @keyframes Animation {
        0% {
            transform: scale(0);
            transform-origin: 0% 50%;
        }

        100% {
            transform: scale(1);
            transform-origin: 0% 50%;
        }
    }

    #menuIconOpen,
    #menuIconClose,
    .navbar {
        animation: Animation 1s ease;
    }

    /* Main Section */

    /* Headings  */

    h2 {
        padding-inline: 5%;
    }

    h2,
    .headings p {
        line-height: 1.5;
    }

    /* Bio Section */

    .bio {
        flex-direction: column;
        padding-block: 15%;
        background: var(--light-gray);
    }

    .bio div {
        width: 100%;
    }

    .about-me {
        padding: unset;
    }

    .skill-icons-wrapper {
        gap: 2rem;
    }

    /* Footer */

    footer {
        padding-block: 10%;
    }

    /* Contact Section  */

    .contact {
        flex-direction: column;
        gap: 5rem;
    }

    .contact-info-text,
    .form-container {
        width: 100%;
    }

    .contact-info-text {
        text-align: center;
    }

    .footer-heading {
        font-size: var(--fs-xxlarge);
    }

    .contact-info-text p {
        padding-right: unset;
        padding-inline: 5%;
        line-height: 1.75;
    }

    /* Social Media Section  */

    .social-media-wrapper {
        width: 100%;
        padding-block: 5%;
        align-items: center;
        justify-content: center;
    }

    .footer-brand-logo {
        display: none;
    }
}